.button-group{
    display: flex;
    justify-content: center;
}
.button-pagination{
    margin: 0 5px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #55595c;
    color: white;
    padding: 5px 10px;
}
button.button-pagination {
    outline: none;
}

.button-pagination:disabled{
    opacity: 0.65; 
    cursor: not-allowed;
}